<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="sandbox" value="false"/>
    
  <!--Put a decimal value here to override the usual [amt avail / total coins] default value. It must be less than 90% of your avail balance in USD.-->
    <add key="investment-override" value=""/>
  
    <!--Candle granularity for searching the best opportunities to buy. Values are: Minutes1,Minutes5,Minutes15,Hour1,Hour6,Hour24-->
    <add key="granularity" value="Hour6"/>
  
    <!--Profit margin. This is the percentage in decimal format that you want to be the minimal point to sell. (4% = 0.04)-->
    <add key="profit-margin" value="0.04"/>
  </appSettings>
</configuration>